{
	"data_dir": "{{ consul_root_directory }}/data",
	"pid_file": "{{ consul_root_directory }}/{{ consul_version }}/consul.pid",
        "node_name": "{{ consul_node_names[inventory_hostname] }}",
	"datacenter": "hetzner",
        "domain": "consul.krjura.org",
        "primary_datacenter": "hetzner",
	"client_addr": "{{ inventory_hostname }}",
	"advertise_addr": "{{ inventory_hostname }}",
        "bind_addr": "{{ inventory_hostname }}",
        "retry_join": [
          "{{ consul_server_1_ip }}:8301",
          "{{ consul_server_2_ip }}:8301",
          "{{ consul_server_3_ip }}:8301"
        ],
	"server": {{ consul_server }},
	"ui": true,
        "enable_script_checks": false,
        "disable_remote_exec": true,
	"bootstrap_expect": {{ 3 if consul_server|bool else 0 }},
        "acl": {
          "enabled": true,
          "enable_token_persistence": false,
          "default_policy": "deny",
          "down_policy": "extend-cache",
          "tokens": {
            "master": "{{ consul_master_token }}",
            "agent": "{{ consul_acl_agent_tokens[inventory_hostname] }}"
          }
        },
        "ports": {
          "http": {{ consul_port_http }},
          "https": {{ consul_port_https }},
          "dns": -1,
          "serf_wan": -1
        },
        "verify_incoming": true,
        "verify_incoming_rpc": true,
        "verify_incoming_https": true,
        "verify_outgoing": true, 
        "verify_server_hostname": true,
        "auto_encrypt": {
          "allow_tls": true,
          "tls": true
        },
        "ca_file": "{{ consul_ca_file }}",
        "cert_file": "{{ consul_cert_prefix }}-{{ consul_node_name }}.pem",
        "key_file": "{{ consul_cert_prefix }}-{{ consul_node_name }}-key.pem"
}

