[Unit]
Description=Consul Agent
Documentation=https://www.consul.io/
Requires=network-online.target
After=network-online.target

[Service]
User={{consul_owner}}
Group={{consul_group}}
PIDFile={{consul_root_directory}}/consul.pid
WorkingDirectory={{consul_root_directory}}/{{consul_version}}
ExecStart={{consul_root_directory}}/{{consul_version}}/consul agent -config-file=consul.json
ExecReload=/bin/kill -s HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
