{
  "data_dir": "{{ nomad_root_directory }}/data",
  "name": "{{ nomad_server_names[inventory_hostname] }}",
  "region": "EU",
  "datacenter": "hetzner",
  "bind_addr": "{{ inventory_hostname }}",
  "advertise": {
    "http": "{{ inventory_hostname }}",
    "rpc": "{{ inventory_hostname }}",
    "serf": "{{ inventory_hostname }}"
  },
  "server": {
    "enabled": true,
    "bootstrap_expect": 3,
    "server_join": {
      "retry_join": ["{{ nomad_server_1_ip }}", "{{ nomad_server_2_ip }}", "{{ nomad_server_3_ip }}"],
      "retry_interval": "15s"
    }
  },
  "client": {
    "enabled": true,
    "server_join": {
      "retry_join": ["{{ nomad_server_1_ip }}", "{{ nomad_server_2_ip }}", "{{ nomad_server_3_ip }}"],
      "retry_interval": "15s"
    },
    "options": {
      "driver.whitelist": "docker"
    }
  },
  "consul": {
    "address": "{{ inventory_hostname }}:{{ consul_port }}",
    "token": "{{ consul_tokens[inventory_hostname] }}",
    "ca_file": "{{ consul_ca_file }}",
    "cert_file": "{{ consul_cert_prefix }}-{{ nomad_server_name }}.pem",
    "key_file": "{{ consul_cert_prefix }}-{{ nomad_server_name }}-key.pem",
    "ssl": true,
    "verify_ssl": true
  }
}

