[Unit]
Description=Nomad Agent
Documentation=https://www.nomadproject.io
Requires=network-online.target
After=network-online.target

[Service]
User={{nomad_owner}}
Group={{nomad_group}}
PIDFile={{nomad_root_directory}}/nomad.pid
WorkingDirectory={{nomad_root_directory}}/{{nomad_version}}
ExecStart={{nomad_root_directory}}/{{nomad_version}}/nomad agent -config=nomad.json
ExecReload=/bin/kill -s HUP $MAINPID
KillSignal=SIGINT

[Install]
WantedBy=multi-user.target
